bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm
*.pdb
*.cache/
*.log
*.ldf
*.mdf
.vs/
*.ncrunch*
*.local.json
publish/
out/
*.nupkg
*.snupkg
packages/
.nuget/
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.*.local
.vscode/
.history/